logging:
  level:
    ru.practicum: TRACE
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: INFO
        transaction: INFO
        transaction.interceptor: INFO
      springframework.cloud.netflix.eureka: INFO
      apache.kafka: INFO

server:
#  port: 0
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ewm
    driver-class-name: org.postgresql.Driver
    username: ewm
    password: ewm

  sql:
    init:
      mode: always
  jpa:
#    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        format_sql: true
#        time_zone: UTC
#        default_schema: public

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always


stats-server:
  url: http://localhost:9090