logging:
  level:
    ru.yandex.practicum.infra.config-server: INFO
    org:
      springframework: INFO

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/core/{application}
            - classpath:config/stats/{application}
            - classpath:config/infra/{application}
    discovery:
      enabled: true

server:
#  port: 0
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"


eureka:
  client:
    enable: true
    registerWithEureka: true
    fetchRegistry: false
    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 10