logging:
  level:
    ru.practicum.infra.discovery: TRACE
    org:
      springframework: INFO
      springframework.cloud.netflix.eureka: INFO

server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/