logging:
  level:
    ru.practicum.analyzer: TRACE
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: INFO
        transaction: INFO
        transaction.interceptor: INFO
      springframework.cloud.netflix.eureka: INFO
      springframework.web.client.RestTemplate: WARN
      org.springframework.cloud.openfeign: DEBUG
      com.fasterxml.jackson: DEBUG
      apache.kafka: INFO
    feign.Logger: WARN


spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ewm_rating
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password

  sql:
    init:
      mode: always
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        format_sql: true
#        time_zone: UTC
#        default_schema: public


analyzer:
  kafka:
    bootstrap-servers: "localhost:9092"
    offset-fix-count: 10
    actionconsumer:
      properties:
        bootstrap.servers: "${analyzer.kafka.bootstrap-servers}"
        enable.auto.commit: false
        group.id: "user-action-consumer"
        key.deserializer: "org.apache.kafka.common.serialization.LongDeserializer"
        value.deserializer: "ru.practicum.kafka.deserializer.UserActionDeserializer"
      topic: "stats.user-actions.v1"
      poll-timeout: 200ms
    similarityconsumer:
      properties:
        bootstrap.servers: "${analyzer.kafka.bootstrap-servers}"
        enable.auto.commit: false
        group.id: "events-similarity-consumer"
        key.deserializer: "org.apache.kafka.common.serialization.StringSerializer"
        value.deserializer: "ru.practicum.kafka.deserializer.EventSimilarityDeserializer"
      topic: "stats.events-similarity.v1"
      poll-timeout: 200ms

