logging:
  level:
    ru.practicum.server: TRACE
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: INFO
        transaction: INFO
        transaction.interceptor: INFO
      springframework.cloud.netflix.eureka: INFO
      apache.kafka: INFO

server:
#  port: 0
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:6541/stats
    driver-class-name: org.postgresql.Driver
    username: stats
    password: stats

  sql:
    init:
      mode: always
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        time_zone: UTC
        default_schema: public

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

#client:
#  url: http://localhost:9090